<div class="participations-index">
    <div class="participations-index-title">
        <p>通知一覧</p>
    </div>
    
    <% @participations.each do |pr| %>
      <div class="boards-index-main">
          <%= pr.board_id %>
      </div>
    <% end %>
    
</div>