<div class="participations-index">
    <div class="participations-index-title">
        <p>通知一覧</p>
    </div>
    
    <% @boards.each do |b| %>
      <div class="boards-index-main">
      </div>
    <% end %>
    
</div>