<!--< @user ||= current_user %>-->
<!--<div class="stats">-->
<!--  <a href="< following_user_path(@user) %>">-->
<!--    <div id="following" class="stat">-->
<!--      < @user.followings.count %>-->
<!--    </div>-->
<!--    フォロー-->
<!--  </a>-->
<!--  &nbsp;-->
<!--  <a href="< followers_user_path(@user) %>">-->
<!--    <div id="followers" class="stat">-->
<!--      < @user.followers.count %>-->
<!--    </div>-->
<!--    フォロワー-->
<!--  </a>-->
<!--</div>-->