<div class="home-image">
    <div class="home-title">
        <h1>Welcome to 趣-Meeting</h1>
        <p>時間を有効に使って趣味仲間とリアルに繋がれる<br>
        次世代型コミュニティアプリケーション</p>
    </div>
</div>
.
<div class="home-main-1">
    <div class="introduction">
        <div class="introduction-title">
            <p>”趣-Meeting” とは</p>
        </div>
        <div class="introduction-image">
            <p><img src="assets/introduction.jpg" alt="サンプル画像"></p>
        </div>
        <div class="introduction-content">
            <p>その名の通り「趣味」をもとに、共通の仲間を見つけて、
            時間があるときに気軽に会えるコミュニティを築くことができるアプリケーションです。<br>
            <br>
            かつては学校や会社、地元の仲間内など、決められた環境内でしか共通の趣味仲間を見つかられなかったハードルを
            当サービスでその垣根を崩して、どこにいる人でもいつでも好きな趣味で繋がることができます。<br>
            <br>
            これまで<br>
            <span>話し相手が見つからずに一人で過ごすことが多かった方も<br>
            新しい方と出会って刺激が欲しいと思っていた方も<br>
            時間を有効に使って充実した日々を送りたいと考えていた方も<br></span>
            それら全てを解決することができます。</p>
        </div>
    </div>
</div>

<div class="home-main-2">
    <div class="home-contents-1">
        <div class="introduction-title">
            <p>当サービスを使って楽しめることとは</p>
        </div>
        <div class="contents-text">
            <h2>－その１－<br>
            趣味仲間を見つけられます！</h2><br>
            <p>当サービスは名前の通り「趣味」に重点を置いたサービスです。<br>
            そのため、利用者のみなさんには必ず趣味をプロフィールに記載することが
            メンバーになるための条件となっています。<br>
            つまり”無趣味”といった方はメンバーさんの中にいらっしゃらないので、何かしらの
            共通の話題で話を弾ませることができ、会話に困るといった心配はございません。</p>
        </div>
        <div class="contents-text">
            <h2>－その２－<br>
            空いた時間を有効活用して趣味仲間と交流できます！</h2><br>
            <p>「急に予定が無くなっちゃった」<br>
            「少し時間が空いたな」<br>
            そんな状況になることってよくありますよね。<br>
            そういった時間を自分の好きなことに使って、そしてその楽しい時間を同じ趣味の方と
            共有できたらさらに嬉しいですよね。<br>
            そういった「余った時間」を「有意義な時間」に変えていくことができます！</p>
        </div>
        <div class="contents-text">
            <h2>－その３－<br>
            自分の新しい趣味を見つけることができます！</h2><br>
            <p>自分の新しい趣味を見つけて、新鮮な感情に浸ってみたいと一度でも思ったことはないでしょうか。<br>
            しかしそのキッカケがなかなか掴めない。<br>
            そんな時こそ当サービスの出番です！<br>
            共通の趣味を持った人と繋がれることはもちろん、全く縁の無かった趣味との出会いのキカッケも得ることができます。<br>
            「○○やっている方はいないかな」と思ったら、その趣味の持ち主を探して繋がり、ぜひ新しい趣味にトライしてみましょう！
            そういったことを経験することで新しい世界を知る良い機会にもなることでしょう。</p>
        </div>
    </div>
</div>