// ここからスマホ用サイズ-----------------------------------------------------------------------------
@media(max-width:767px){


// [index]

.boards-index-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-index-new-btn{
    text-align:center;
    margin:50px 0;
}

.boards-index-new-btn a{
    text-decoration:none;
    padding:10px 100px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:10px;
    letter-spacing:3px;
    border:2px groove #fff;
}

.boards-index-new-btn a:hover{
    background-color:#00f;
}

.boards-index-main{
    // jquery用---------------------------------------------
    opacity:0;
    transform:translate(0, 100px);
    transition:all 1500ms;
    // -----------------------------------------------------;
    width:95%;
    margin:0 auto 20px auto;
    background-color:#fff;
    border:1px solid #00f;
}

.boards-index-main.scrollin{
    opacity:1;
    transform:translate(0, 0);
}

.boards-index-main-title{
    background-color:#6699FF;
    text-align:center;
    padding:10px 0;
}

.boards-index-main-title p{
    padding:0;
    margin:0;
    color:#fff;
    text-shadow:1px 1px 1px #00f;
}

.boards-index-main-text{
    width:55%;
    height:190px;
    float:left;
}

.boards-index-main-text li{
    line-height:2;
}

.boards-index-main-text ul{
    padding-top:10px;
    margin:0;
}

.boards-index-main-text ul a{
    color:#00f;
}

.boards-index-main-text span{
    color:#f00;
    font-weight:bold;
}

.boards-index-btn{
    text-align:center;
    margin:10px auto 0;
}

.boards-index-btn a{
    text-decoration:none;
    color:#FF4F02;
    background-color:#ffcc00;
    padding:5px 70px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.boards-index-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}

.boards-index-main-image{
    width:45%;
    height:190px;
    float:right;
    background-color:#ccffff
}

.boards-index-img{
    width:100%;
    height:190px;
}



//[users/show]

.user-page-boards{
    background-color:#fff;
    width: 95%;
    margin: 0px auto;
    border: 2px solid #6699FF;
}

.user-page-boards-new{
    margin-top:15px;
    text-align:center;
}

.user-page-boards-new a{
    text-decoration:none;
    padding:10px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:5px;
    letter-spacing:3px;
}

.user-page-boards-new a:hover{
    background-color:#00f;
}

.user-boards-title{
    text-align:center;
}

.user-boards-title h3{
    background-color:#6699CC;
    color:#fff;
    padding:10px 0;
    margin:0;
}

.user-boards-main{
    background-color:#fff;
}

.user-boards-main-title{
    border-top:3px solid #ccc;
    background-color:#eee;
    text-align:center;
    padding:10px 0;
}

.user-boards-main-title p{
    padding:0;
    margin:0;
    color:#000080;
    font-weight:bold;
}

.user-boards-main-text{
    width:55%;
    height:170px;
    float:left;
}

.boards-index-main-text li{
    line-height:2;
}

.user-boards-main-text ul{
    padding-top:20px;
    margin:0;
}

.user-boards-main-text span{
    color:#f00;
    font-weight:bold;
}

.user-boards-btn{
    text-align:center;
    margin:15px auto 0;
}

.user-boards-btn a{
    text-decoration:none;
    color:#FF4F02;
    font-weight:bold;
    background-color:#ffcc00;
    padding:5px 70px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.user-boards-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}

.user-boards-main-image{
    width:45%;
    height:170px;
    float:right;
    background-color:#ccffff
}

.user-boards-img{
    width:100%;
    height:170px;
}




// [new画面]

.boards-new-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-new-main{
    background-color:#fff;
    width:95%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.boards-new-main span{
    font-size:12px;
    color:#f00;
}

.boards-new-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.boards-new-main ul{
    margin-right:50px;
}

.boards-new-main a{
    text-decoration:none;
}

.boards-new-main li{
    display:inline-block;
    margin-right:20px;
}

.boards-new-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.boards-new-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.boards-new-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.boards-new-btn1:hover{
    background-color:#6699FF;
}

.boards-new-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.boards-new-btn2:hover{
    background-color:#6699FF;
}


// [edit画面]

.boards-edit-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-edit-main{
    background-color:#fff;
    width:95%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.boards-edit-main span{
    font-size:12px;
    color:#f00;
}

.boards-edit-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.boards-edit-main ul{
    margin-right:50px;
}

.boards-edit-main a{
    text-decoration:none;
}

.boards-edit-main li{
    display:inline-block;
    margin-right:20px;
}

.boards-edit-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.boards-edit-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.boards-edit-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.boards-edit-btn1:hover{
    background-color:#6699FF;
}

.boards-edit-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.boards-edit-btn2:hover{
    background-color:#6699FF;
}



// [show]

.boards-show{
    width:95%;
    padding:0;
    margin:50px auto;
    background-color:#fff;
    border:10px groove #6699FF;
}

.boards-show-title{
    background-color:#ccc;
    padding:10px 0;
    margin:0;
    text-align:center;
}

.boards-show-title p{
    color:#fff;
    font-size:25px;
    text-shadow:1px 1px 1px #000;
    padding:0;
    margin:0 10px;
}

.boards-show-day table{
    width:100%;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.boards-show-day table, tbody, tr, th, td{
    margin:0;
    padding:0;
}

.boards-show-day th{
    text-align:center;
    width:20%;
}

.boards-show-day td{
    color:#f00;
    font-size:20px;
    font-weight:bold;
}

.boards-show-image{
    background-color:#00f;
    width:100%;
    padding:0;
    margin:0;
    height:320px;
}

.boards-show-image p{
    margin:0;
    padding:0;
}

.boards-show-img{
    width:100%;
    height:320px;
}

.boards-show-btn{
    text-align:center;
    background-color:#ff4f02;
    margin:0;
    border-bottom:1px solid #000080;
}

.boards-show-btn:hover{
    opacity:0.3;
}

.boards-show-btn a{
    display:block;
    color:#fff;
    text-decoration:none;
    padding:5px 0;
    margin:0;
}

.boards-detail > h3{
    text-align:center;
    margin:0;
    padding:10px 0 0 0;
}

.boards-show-name-place{
    background-color:#ddd;
}

.boards-show-name-place ul{
    margin:0;
}

.boards-show-name-place li{
    float:left;
    padding:5px 0;
    color:#fff;
    text-shadow:1px 1px 1px #000;
}

.boards-show-name-place li span{
    margin-left:40px;
}

.boards-show-content{
    width:90%;
    padding:0;
    margin:0 auto;
}

.boards-show-time{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.boards-show-time ul{
    text-align:center;
    margin:0;
    padding:0;
}

.boards-show-time li{
    font-size:12px;
    display:inline-block;
}

.boards-menu ul{
    padding:10px 0 0 0;
    margin:0;
    float:right;
}

.boards-menu li{
    display:inline-block;
    margin-right:20px;
}


}
// ここまでがスマホ用サイズ-----------------------------------------------------------------------------



// ここからタブレット用サイズ-----------------------------------------------------------------------------
@media(min-width:768px) and (max-width:1024px){

// [index]

.boards-index-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-index-new-btn{
    text-align:center;
    margin:50px 0;
}

.boards-index-new-btn a{
    text-decoration:none;
    padding:10px 100px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:10px;
    letter-spacing:3px;
    border:2px groove #fff;
}

.boards-index-new-btn a:hover{
    background-color:#00f;
}

.boards-index-main{
    // jquery用---------------------------------------------
    opacity:0;
    transform:translate(50px, 0);
    transition:all 1500ms;
    // -----------------------------------------------------;
    width:80%;
    margin:0 auto 20px auto;
    background-color:#fff;
    border:1px solid #00f;
}

.boards-index-main.scrollin{
    opacity:1;
    transform:translate(0, 0);
}

.boards-index-main-title{
    background-color:#6699FF;
    text-align:center;
    padding:10px 0;
}

.boards-index-main-title p{
    padding:0;
    margin:0;
    color:#fff;
    text-shadow:1px 1px 1px #00f;
}

.boards-index-main-text{
    width:55%;
    height:210px;
    float:left;
}

.boards-index-main-text li{
    line-height:2;
}

.boards-index-main-text li:nth-of-type(4){
    color:#000080;
}

.boards-index-main-text ul{
    padding-top:20px;
    margin:0;
}

.boards-index-main-text ul a{
    color:#00f;
}

.boards-index-main-text span{
    color:#f00;
    font-weight:bold;
}

.boards-index-btn{
    text-align:center;
    margin:20px auto 0;
}

.boards-index-btn a{
    text-decoration:none;
    color:#FF4F02;
    font-weight:bold;
    background-color:#ffcc00;
    padding:5px 120px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.boards-index-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}

.boards-index-main-image{
    width:45%;
    height:210px;
    float:right;
    background-color:#ccffff
}

.boards-index-img{
    width:100%;
    height:210px;
}





//[users/show]

.user-page-boards{
    background-color:#fff;
    width: 80%;
    margin: 0px auto;
    border: 2px solid #6699FF;
}

.user-page-boards-new{
    margin-top:15px;
    text-align:center;
}

.user-page-boards-new a{
    text-decoration:none;
    padding:10px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:5px;
    letter-spacing:3px;
}

.user-page-boards-new a:hover{
    background-color:#00f;
}

.user-boards-title{
    text-align:center;
}

.user-boards-title h3{
    background-color:#6699CC;
    color:#fff;
    padding:10px 0;
    margin:0;
}

.user-boards-main{
    background-color:#fff;
}

.user-boards-main-title{
    border-top:3px solid #ccc;
    background-color:#eee;
    text-align:center;
    padding:10px 0;
}

.user-boards-main-title p{
    padding:0;
    margin:0;
    color:#000080;
    font-weight:bold;
}

.user-boards-main-text{
    width:55%;
    height:240px;
    float:left;
}

.boards-index-main-text li{
    line-height:2;
}

.user-boards-main-text ul{
    padding-top:40px;
    margin:0;
}

.user-boards-main-text span{
    color:#f00;
    font-weight:bold;
}

.user-boards-btn{
    text-align:center;
    margin:40px auto 0;
}

.user-boards-btn a{
    text-decoration:none;
    color:#FF4F02;
    font-weight:bold;
    background-color:#ffcc00;
    padding:10px 110px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.user-boards-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}

.user-boards-main-image{
    width:45%;
    height:239px;
    float:right;
    background-color:#ccffff
}

.user-boards-img{
    width:100%;
    height:239px;
}



// [new画面]

.boards-new-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-new-main{
    background-color:#fff;
    width:80%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.boards-new-main span{
    font-size:12px;
    color:#f00;
}

.boards-new-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.boards-new-main ul{
    margin-right:50px;
}

.boards-new-main a{
    text-decoration:none;
}

.boards-new-main li{
    display:inline-block;
    margin-right:20px;
}

.boards-new-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.boards-new-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.boards-new-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.boards-new-btn1:hover{
    background-color:#6699FF;
}

.boards-new-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.boards-new-btn2:hover{
    background-color:#6699FF;
}





// [edit画面]

.boards-edit-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-edit-main{
    background-color:#fff;
    width:80%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.boards-edit-main span{
    font-size:12px;
    color:#f00;
}

.boards-edit-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.boards-edit-main ul{
    margin-right:50px;
}

.boards-edit-main a{
    text-decoration:none;
}

.boards-edit-main li{
    display:inline-block;
    margin-right:20px;
}

.boards-edit-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.boards-edit-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.boards-edit-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.boards-edit-btn1:hover{
    background-color:#6699FF;
}

.boards-edit-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.boards-edit-btn2:hover{
    background-color:#6699FF;
}




// [show]

.boards-show{
    width:80%;
    padding:0;
    margin:50px auto;
    background-color:#fff;
    border:10px groove #6699FF;
}

.boards-show-title{
    background-color:#ccc;
    padding:10px 0;
    margin:0;
    text-align:center;
}

.boards-show-title p{
    color:#fff;
    font-size:25px;
    text-shadow:1px 1px 1px #000;
    padding:0;
    margin:0 10px;
}

.boards-show-day table{
    width:100%;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.boards-show-day table, tbody, tr, th, td{
    margin:0;
    padding:0;
}

.boards-show-day th{
    text-align:center;
    width:20%;
}

.boards-show-day td{
    color:#f00;
    font-size:20px;
    font-weight:bold;
}

.boards-show-image{
    background-color:#00f;
    width:100%;
    padding:0;
    margin:0;
    height:420px;
}

.boards-show-image p{
    margin:0;
    padding:0;
}

.boards-show-img{
    width:100%;
    height:420px;
}

.boards-show-btn{
    text-align:center;
    background-color:#ff4f02;
    margin:0;
    border-bottom:1px solid #000080;
}

.boards-show-btn:hover{
    opacity:0.3;
}

.boards-show-btn a{
    display:block;
    color:#fff;
    text-decoration:none;
    padding:10px 0;
    margin:0;
}

.boards-detail > h3{
    text-align:center;
    margin:0;
    padding:10px 0 0 0;
}

.boards-show-name-place{
    background-color:#ddd;
}

.boards-show-name-place ul{
    margin:0;
}

.boards-show-name-place li{
    float:left;
    padding:5px 0;
    color:#fff;
    text-shadow:1px 1px 1px #000;
}

.boards-show-name-place li span{
    margin-left:40px;
}

.boards-show-content{
    width:90%;
    padding:0;
    margin:0 auto;
}

.boards-show-time{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.boards-show-time ul{
    text-align:center;
    margin:0;
    padding:0;
}

.boards-show-time li{
    font-size:12px;
    display:inline-block;
}

.boards-menu ul{
    padding:10px 0 0 0;
    margin:0;
    float:right;
}

.boards-menu li{
    display:inline-block;
    margin-right:20px;
}


}
// ここまでがタブレット用サイズ-----------------------------------------------------------------------------




// ここからPC用サイズ-----------------------------------------------------------------------------
@media(min-width:1025px){

// [index]

.boards-index-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-index-new-btn{
    text-align:center;
    margin:50px 0;
}

.boards-index-new-btn a{
    text-decoration:none;
    padding:10px 100px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:10px;
    letter-spacing:3px;
    border:2px groove #fff;
}

.boards-index-new-btn a:hover{
    background-color:#00f;
}

.boards-index-main{
    // jquery用---------------------------------------------
    opacity:0;
    transform:translate(100px, 0);
    transition:all 1500ms;
    // -----------------------------------------------------;
    width:60%;
    margin:0 auto 20px auto;
    background-color:#fff;
    border:1px solid #00f;
}

.boards-index-main.scrollin{
    opacity:1;
    transform:translate(0, 0);
}

.boards-index-main-title{
    background-color:#6699FF;
    text-align:center;
    padding:10px 0;
}

.boards-index-main-title{
    background-color:#6699FF;
    text-align:center;
    padding:10px 0;
}

.boards-index-main-title p{
    padding:0;
    margin:0;
    color:#fff;
    text-shadow:1px 1px 1px #00f;
}

.boards-index-main-text{
    width:55%;
    height:240px;
    float:left;
}

.boards-index-main-text li{
    line-height:2;
}

.boards-index-main-text ul{
    padding-top:20px;
    margin:0;
}

.boards-index-main-text span{
    color:#f00;
    font-weight:bold;
}

.boards-index-btn{
    text-align:center;
    margin:40px auto 0;
}

.boards-index-btn a{
    text-decoration:none;
    color:#FF4F02;
    font-weight:bold;
    background-color:#ffcc00;
    padding:10px 150px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.boards-index-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}

.boards-index-main-image{
    width:45%;
    height:239px;
    float:right;
    background-color:#ccffff
}

.boards-index-img{
    width:100%;
    height:239px;
}



//[users/show]

.user-page-boards{
    background-color:#fff;
    width: 60%;
    margin: 0px auto;
    border: 2px solid #6699FF;
}

.user-page-boards-new{
    margin-top:15px;
    text-align:center;
}

.user-page-boards-new a{
    text-decoration:none;
    padding:10px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:5px;
    letter-spacing:3px;
}

.user-page-boards-new a:hover{
    background-color:#00f;
}

.user-boards-title{
    text-align:center;
}

.user-boards-title h3{
    background-color:#6699CC;
    color:#fff;
    padding:10px 0;
    margin:0;
}

.user-boards-main{
    background-color:#fff;
}

.user-boards-main-title{
    border-top:3px solid #ccc;
    background-color:#eee;
    text-align:center;
    padding:10px 0;
}

.user-boards-main-title p{
    padding:0;
    margin:0;
    color:#000080;
    font-weight:bold;
}

.user-boards-main-text{
    width:55%;
    height:240px;
    float:left;
}

.boards-index-main-text li{
    line-height:2;
}

.user-boards-main-text ul{
    padding-top:40px;
    margin:0;
}

.boards-index-main-text ul a{
    color:#00f;
}

.user-boards-main-text span{
    color:#f00;
    font-weight:bold;
}

.user-boards-btn{
    text-align:center;
    margin:40px auto 0;
}

.user-boards-btn a{
    text-decoration:none;
    color:#FF4F02;
    font-weight:bold;
    background-color:#ffcc00;
    padding:10px 150px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.user-boards-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}

.user-boards-main-image{
    width:45%;
    height:239px;
    float:right;
    background-color:#ccffff
}

.user-boards-img{
    width:100%;
    height:239px;
}

.user-boards-img:hover{
    opacity:0.5;
}





// [new画面]

.boards-new-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-new-main{
    background-color:#fff;
    width:60%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.boards-new-main span{
    font-size:12px;
    color:#f00;
}

.boards-new-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.boards-new-main ul{
    margin-right:50px;
}

.boards-new-main a{
    text-decoration:none;
}

.boards-new-main li{
    display:inline-block;
    margin-right:20px;
}

.boards-new-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:40%;
}

.boards-new-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:70%;
}

.boards-new-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.boards-new-btn1:hover{
    background-color:#6699FF;
}

.boards-new-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.boards-new-btn2:hover{
    background-color:#6699FF;
}



// [edit画面]

.boards-edit-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.boards-edit-main{
    background-color:#fff;
    width:60%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.boards-edit-main span{
    font-size:12px;
    color:#f00;
}

.boards-edit-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.boards-edit-main ul{
    margin-right:50px;
}

.boards-edit-main a{
    text-decoration:none;
}

.boards-edit-main li{
    display:inline-block;
    margin-right:20px;
}

.boards-edit-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:40%;
}

.boards-edit-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:70%;
}

.boards-edit-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.boards-edit-btn1:hover{
    background-color:#6699FF;
}

.boards-edit-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.boards-edit-btn2:hover{
    background-color:#6699FF;
}




// [show]

.boards-show{
    width:60%;
    padding:0;
    margin:50px auto;
    background-color:#fff;
    border:10px groove #6699FF;
}

.boards-show-title{
    background-color:#ccc;
    padding:10px 0;
    margin:0;
    text-align:center;
}

.boards-show-title p{
    color:#fff;
    font-size:25px;
    text-shadow:1px 1px 1px #000;
    padding:0;
    margin:0 10px;
}

.boards-show-day table{
    width:100%;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.boards-show-day table, tbody, tr, th, td{
    margin:0;
    padding:0;
}

.boards-show-day th{
    text-align:center;
    width:20%;
}

.boards-show-day td{
    color:#f00;
    font-size:20px;
    font-weight:bold;
}

.boards-show-image{
    background-color:#00f;
    width:100%;
    padding:0;
    margin:0;
    height:450px;
}

.boards-show-image p{
    margin:0;
    padding:0;
}

.boards-show-img{
    width:100%;
    height:450px;
}

.boards-show-btn{
    text-align:center;
    background-color:#ff4f02;
    margin:0;
    border-bottom:1px solid #000080;
}

.boards-show-btn:hover{
    opacity:0.3;
}

.boards-show-btn a{
    display:block;
    color:#fff;
    text-decoration:none;
    padding:10px 0;
    margin:0;
}

.user-boards-btn a{
    text-decoration:none;
    color:#FF4F02;
    font-weight:bold;
    background-color:#ffcc00;
    padding:10px 150px;
    border-radius:10px;
    border:1px solid #ff4f02;
}

.user-boards-btn a:hover{
    color:#fff;
    background-color:#ff4f02;
}



.boards-detail > h3{
    text-align:center;
    margin:0;
    padding:10px 0 0 0;
}

.boards-show-name-place{
    background-color:#ddd;
}

.boards-show-name-place ul{
    margin:0;
}

.boards-show-name-place li{
    float:left;
    padding:5px 0;
    color:#fff;
    text-shadow:1px 1px 1px #000;
}

.boards-show-name-place li span{
    margin-left:40px;
}

.boards-show-content{
    width:90%;
    padding:0;
    margin:0 auto;
}

.boards-show-time{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.boards-show-time ul{
    text-align:center;
    margin:0;
    padding:0;
}

.boards-show-time li{
    font-size:12px;
    display:inline-block;
}

.boards-menu ul{
    padding:10px 0 0 0;
    margin:0;
    float:right;
}

.boards-menu li{
    display:inline-block;
    margin-right:20px;
}


}
// ここまでがPC用サイズ-----------------------------------------------------------------------------