// ここからスマホ用サイズ-----------------------------------------------------------------------------
@media(max-width:767px){

// [index]

.posts-index-main-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-index-new-btn{
    text-align:center;
    margin:50px 0;
}

.posts-index-new-btn a{
    text-decoration:none;
    padding:10px 100px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:10px;
    letter-spacing:3px;
    border:2px groove #fff;
}

.posts-index-new-btn a:hover{
    background-color:#00f;
}

.posts-index-main{
    background-color:#fff;
    width: 95%;
    margin: 0 auto;
    border: 2px solid #6699FF;
    border-bottom:2px double #00f;
}

.posts-index-main:last-of-type{
    border-bottom:2px solid #6699FF;
    margin-bottom:50px;
}

.posts-index-title ul{
    margin:10px 0 0 10px;
    padding:0;
}

.posts-index-title li{
    color:#6699FF;
    text-shadow:1px 1px 1px #00f;
    letter-spacing:3px;
    padding:0;
    margin:0;
}

.posts-index-detail{
    height:150px;
    padding:0;
    margin:0;
}

.posts-index-detail p{
    color:#000;
    padding:5px;
    margin:0;
    font-size:12px;
}

.posts-index-image{
    height:150px;
    text-align:center;
}

.posts-img{
    padding:0;
    margin:0 auto;
    width:50%;
    height:150px;
}

.posts-index-image p{
    margin:0;
    padding:0;
}

.posts-index-times{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.posts-index-times ul{
    padding:0 2px;
    margin:0;
}

.posts-index-times li{
    font-size:12px;
}

.posts-index-times li:nth-of-type(2){
    display:inline-block;
}

.posts-index-times li:nth-of-type(3){
    display:inline-block;
}

.posts-index-times a:hover{
    opacity:0.3;
}

.posts-btn ul{
    padding:0;
    margin:0;
}

.posts-btn li{
    display:inline-block;
    float:right;
    margin:5px 20px 5px 0;
}

.posts-btn li:hover{
    opacity:0.3;
}






//[users/show]

.user-page-posts{
    background-color:#fff;
    width:95%;
    margin: 0 auto 50px;
    border: 2px solid #6699FF;
}

.user-page-posts-new{
    margin-top:15px;
    text-align:center;
}

.user-page-posts-new a{
    text-decoration:none;
    padding:10px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:5px;
    letter-spacing:3px;
}

.user-page-posts-new a:hover{
    background-color:#00f;
}

.user-posts-title h3{
    background-color:#6699CC;
    color:#fff;
    padding:10px 0;
    margin:0;
    text-align:center;
}

.user-posts-main{
    border-bottom:2px double #00f;
    background-color:#fff;
}

.user-posts-main:last-of-type{
    border-bottom:none;
}

.user-posts-title ul{
    margin:10px 0 0 10px;
    padding:0;
}

.user-posts-title li{
    color:#6699FF;
    text-shadow:1px 1px 1px #00f;
    letter-spacing:3px;
    padding:0;
    margin:0;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

.user-posts-detail{
    height:150px;
    padding:0;
    margin:0;
}

.user-posts-detail p{
    color:#000;
    padding:5px;
    margin:0;
}

.user-posts-image{
    height:150px;
    margin:10px 10px 10px 0;
}

.user-posts-image p{
    padding:0;
    margin:0;
    height:150px;
    text-align:center;
}

.posts-img{
    width:50%;
    height:150px;
}

.user-posts-image p{
    margin:0;
    padding:0;
}

.user-posts-times{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.user-posts-times ul{
    padding:0;
    margin:0;
}

.user-posts-times li{
    display:inline-block;
    font-size:12px;
}

.posts-btn ul{
    padding:0;
    margin:0;
}

.posts-btn li{
    display:inline-block;
    float:right;
    margin:5px 20px 5px 0;
    font-size:12px;
}

.posts-btn li:hover{
    opacity:0.3;
}



// [new画面]

.posts-new-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-new-main{
    background-color:#fff;
    width:95%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.posts-new-main span{
    font-size:12px;
    color:#f00;
}

.posts-new-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.posts-new-main ul{
    margin-right:50px;
}

.posts-new-main a{
    text-decoration:none;
}

.posts-new-main li{
    display:inline-block;
    margin-right:20px;
}

.posts-new-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.posts-new-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.posts-new-main ul{
    padding:0;
    margin:0;
    text-align:center;
}

.posts-new-btn1{
    margin:30px 0 0 0;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.posts-new-btn1:hover{
    background-color:#6699FF;
}

.posts-new-btn2{
    margin:30px 0;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.posts-new-btn2:hover{
    background-color:#6699FF;
}




// [edit画面]

.posts-edit-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-edit-main{
    background-color:#fff;
    width:95%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.posts-edit-main span{
    font-size:12px;
    color:#f00;
}

.posts-edit-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.posts-edit-main ul{
    margin-right:50px;
}

.posts-edit-main a{
    text-decoration:none;
}

.posts-edit-main li{
    display:inline-block;
    margin-right:20px;
}

.posts-edit-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.posts-edit-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.posts-edit-main ul{
    padding:0;
    margin:0;
    text-align:center;
}

.posts-edit-btn1{
    margin:30px 0 0 0;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.posts-edit-btn1:hover{
    background-color:#6699FF;
}

.posts-edit-btn2{
    margin:30px 0;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.posts-edit-btn2:hover{
    background-color:#6699FF;
}

.posts-show-img, .posts-show-movie{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}



}
// ここまでがスマホ用サイズ-----------------------------------------------------------------------------





// ここからタブレット用サイズ-----------------------------------------------------------------------------
@media(min-width:768px) and (max-width:1024px){


// [index]

.posts-index-main-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-index-new-btn{
    text-align:center;
    margin:50px 0;
}

.posts-index-new-btn a{
    text-decoration:none;
    padding:10px 100px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:10px;
    letter-spacing:3px;
    border:2px groove #fff;
}

.posts-index-new-btn a:hover{
    background-color:#00f;
}

.posts-index-main{
    background-color:#fff;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #6699FF;
    border-bottom:2px double #00f;
}

.posts-index-main:last-of-type{
    border-bottom:2px solid #6699FF;
    margin-bottom:50px;
}

.posts-index-title ul{
    margin:10px 0 0 10px;
    padding:0;
}

.posts-index-title li{
    color:#6699FF;
    text-shadow:1px 1px 1px #00f;
    letter-spacing:3px;
    padding:0;
    margin:0;
}

.posts-index-detail{
    float:left;
    width:60%;
    height:150px;
    padding:0;
    margin:10px 0 10px 10px;
}

.posts-index-detail p{
    color:#000;
    padding:0;
    margin:0;
    font-size:14px;
}

.posts-index-image{
    float:right;
    width:35%;
    height:150px;
    margin:10px 10px 10px 0;
}

.posts-index-image .posts-img{
    width:100%;
    height:150px;
}

.posts-index-image p{
    margin:0;
    padding:0;
}

.posts-index-times{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.posts-index-times ul{
    margin:0;
}

.posts-index-times li{
    font-size:12px;
    display:inline-block;
}

.posts-index-times li:nth-of-type(2){
    margin-left:70px;
}

.posts-index-times a:hover{
    opacity:0.3;
}

.posts-btn ul{
    padding:0;
    margin:0;
}

.posts-btn li{
    display:inline-block;
    float:right;
    margin:5px 20px 5px 0;
}

.posts-btn li:hover{
    opacity:0.3;
}





//[users/show]

.user-page-posts{
    background-color:#fff;
    width:80%;
    margin: 0 auto 50px;
    border: 2px solid #6699FF;
}

.user-page-posts-new{
    margin-top:15px;
    text-align:center;
}

.user-page-posts-new a{
    text-decoration:none;
    padding:10px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:5px;
    letter-spacing:3px;
}

.user-page-posts-new a:hover{
    background-color:#00f;
}

.user-posts-title h3{
    background-color:#6699CC;
    color:#fff;
    padding:10px 0;
    margin:0;
    text-align:center;
}

.user-posts-main{
    border-bottom:2px double #00f;
    background-color:#fff;
}

.user-posts-main:last-of-type{
    border-bottom:none;
}

.user-posts-title ul{
    margin:10px 0 0 10px;
    padding:0;
}

.user-posts-title li{
    color:#6699FF;
    text-shadow:1px 1px 1px #00f;
    letter-spacing:3px;
    padding:0;
    margin:0;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

.user-posts-detail{
    float:left;
    width:65%;
    height:150px;
    padding:0;
    margin:10px 0 10px 10px;
}

.user-posts-detail p{
    color:#000;
    padding:0;
    margin:0;
}

.user-posts-image{
    float:right;
    width:30%;
    height:150px;
    margin:10px 10px 10px 0;
}

.user-posts-image .posts-img{
    width:100%;
    height:150px;
}

.user-posts-image p{
    margin:0;
    padding:0;
}

.user-posts-times{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.user-posts-times ul{
    margin:0;
}

.user-posts-times li{
    display:inline-block;
    font-size:12px;
}

.posts-btn ul{
    padding:0;
    margin:0;
}

.posts-btn li{
    display:inline-block;
    float:right;
    margin:5px 20px 5px 0;
}

.posts-btn li:hover{
    opacity:0.3;
}



// [new画面]

.posts-new-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-new-main{
    background-color:#fff;
    width:80%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.posts-new-main span{
    font-size:12px;
    color:#f00;
}

.posts-new-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.posts-new-main ul{
    margin-right:50px;
}

.posts-new-main a{
    text-decoration:none;
}

.posts-new-main li{
    display:inline-block;
    margin-right:20px;
}

.posts-new-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.posts-new-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.posts-new-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.posts-new-btn1:hover{
    background-color:#6699FF;
}

.posts-new-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.posts-new-btn2:hover{
    background-color:#6699FF;
}




// [edit画面]

.posts-edit-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-edit-main{
    background-color:#fff;
    width:80%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.posts-edit-main span{
    font-size:12px;
    color:#f00;
}

.posts-edit-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.posts-edit-main ul{
    margin-right:50px;
}

.posts-edit-main a{
    text-decoration:none;
}

.posts-edit-main li{
    display:inline-block;
    margin-right:20px;
}

.posts-edit-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:60%;
}

.posts-edit-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:80%;
}

.posts-edit-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:12.5px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.posts-edit-btn1:hover{
    background-color:#6699FF;
}

.posts-edit-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.posts-edit-btn2:hover{
    background-color:#6699FF;
}

.posts-show-img, .posts-show-movie{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}



}
// ここまでがタブレット用サイズ-----------------------------------------------------------------------------





// ここからPC用サイズ-----------------------------------------------------------------------------
@media(min-width:1025px){
    
// [index]

.posts-index-main-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-index-new-btn{
    text-align:center;
    margin:50px 0;
}

.posts-index-new-btn a{
    text-decoration:none;
    padding:10px 100px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:10px;
    letter-spacing:3px;
    border:2px groove #fff;
}

.posts-index-new-btn a:hover{
    background-color:#00f;
}

.posts-index-main{
    background-color:#fff;
    width: 60%;
    margin: 0 auto;
    border: 2px solid #6699FF;
    border-bottom:2px double #00f;
}

.posts-index-main:last-of-type{
    border-bottom:2px solid #6699FF;
    margin-bottom:50px;
}

.posts-index-title ul{
    margin:10px 0 0 10px;
    padding:0;
}

.posts-index-title li{
    color:#6699FF;
    text-shadow:1px 1px 1px #00f;
    letter-spacing:3px;
    padding:0;
    margin:0;
}

.posts-index-detail{
    float:left;
    width:65%;
    height:150px;
    padding:0;
    margin:10px 0 10px 10px;
}

.posts-index-detail p{
    color:#000;
    padding:0;
    margin:0;
}

.posts-index-image{
    float:right;
    width:25%;
    height:150px;
    margin:10px 10px 10px 0;
}

.posts-index-image .posts-img{
    width:100%;
    height:150px;
}

.posts-index-image p{
    margin:0;
    padding:0;
}

.posts-index-times{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.posts-index-times ul{
    margin:0;
}

.posts-index-times li{
    display:inline-block;
    font-size:12px;
}

.posts-index-times li:nth-of-type(2){
    margin-left:100px;
}

.posts-index-times a:hover{
    opacity:0.3;
}

.posts-btn ul{
    padding:0;
    margin:0;
}

.posts-btn li{
    display:inline-block;
    float:right;
    margin:5px 20px 5px 0;
}

.posts-btn li:hover{
    opacity:0.3;
}







//[users/show]

.user-page-posts{
    background-color:#fff;
    width: 60%;
    margin: 0 auto 50px;
    border: 2px solid #6699FF;
}

.user-page-posts-new{
    margin-top:15px;
    text-align:center;
}

.user-page-posts-new a{
    text-decoration:none;
    padding:10px;
    color:#fff;
    font-size:13px;
    background-color:#6699FF;
    border-radius:5px;
    letter-spacing:3px;
}

.user-page-posts-new a:hover{
    background-color:#00f;
}

.user-posts-title h3{
    background-color:#6699CC;
    color:#fff;
    padding:10px 0;
    margin:0;
    text-align:center;
}

.user-posts-main{
    border-bottom:2px double #00f;
    background-color:#fff;
}

.user-posts-main:last-of-type{
    border-bottom:none;
}

.user-posts-title ul{
    margin:10px 0 0 10px;
    padding:0;
}

.user-posts-title li{
    color:#6699FF;
    text-shadow:1px 1px 1px #00f;
    letter-spacing:3px;
    padding:0;
    margin:0;
}

// ---------------------------------------------全ページ共通--------------------------------------------------------
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
// ------------------------------------------------------------------------------------------------------------------

.user-posts-detail{
    float:left;
    width:65%;
    height:150px;
    padding:0;
    margin:10px 0 10px 10px;
}

.user-posts-detail p{
    color:#000;
    padding:0;
    margin:0;
}

.user-posts-image{
    float:right;
    width:25%;
    height:150px;
    margin:10px 10px 10px 0;
}

.user-posts-image .posts-img{
    width:100%;
    height:150px;
}

.user-posts-image p{
    margin:0;
    padding:0;
}

.user-posts-times{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.user-posts-times ul{
    margin:0;
}

.user-posts-times li{
    display:inline-block;
    font-size:12px;
}

.posts-btn ul{
    padding:0;
    margin:0;
}

.posts-btn li{
    display:inline-block;
    float:right;
    margin:5px 20px 5px 0;
}

.posts-btn li:hover{
    opacity:0.3;
}




// [new画面]

.posts-new-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-new-main{
    background-color:#fff;
    width:60%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.posts-new-main span{
    font-size:12px;
    color:#f00;
}

.posts-new-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.posts-new-main ul{
    margin-right:50px;
}

.posts-new-main a{
    text-decoration:none;
}

.posts-new-main li{
    display:inline-block;
    margin-right:20px;
}

.posts-new-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:40%;
}

.posts-new-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:70%;
}

.posts-new-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.posts-new-btn1:hover{
    background-color:#6699FF;
}

.posts-new-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.posts-new-btn2:hover{
    background-color:#6699FF;
}




// [edit画面]

.posts-edit-title{
    background-color:#fff;
    margin-top:50px;
    text-align:center;
    font-size:25px;
    color:#6699CC;
    text-shadow:1px 1px 1px #6699CC;
}

.posts-edit-main{
    background-color:#fff;
    width:60%;
    margin:0 auto 30px;
    padding:10px 0 40px 0;
    text-align:center;
}

.posts-edit-main span{
    font-size:12px;
    color:#f00;
}

.posts-edit-main p{
    margin:30px 0 0 0;
    padding:0;
    color:#2C7CFF;
    font-weight:bold;
}

.posts-edit-main ul{
    margin-right:50px;
}

.posts-edit-main a{
    text-decoration:none;
}

.posts-edit-main li{
    display:inline-block;
    margin-right:20px;
}

.posts-edit-content1{
    background-color:#eeffff;
    border-radius:5px;
    text-align:center;
    width:40%;
}

.posts-edit-content2{
    background-color:#eeffff;
    border-radius:5px;
    width:70%;
}

.posts-edit-btn1{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
    box-shadow:2px 2px 2px #808080;
    font-size:14px;
}

.posts-edit-btn1:hover{
    background-color:#6699FF;
}

.posts-edit-btn2{
    margin-top:40px;
    background-color:#D9E5FF;
    border-radius:10px;
    padding:10px 20px;
    font-weight:bold;
    color:#00f;
    cursor:pointer;
}

.posts-edit-btn2:hover{
    background-color:#6699FF;
}

.posts-show-img, .posts-show-movie{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

}
// ここまでがPC用サイズ-----------------------------------------------------------------------------