<div class="footer clearfix">
    <div class="copy">
        <h3>趣-Meeting</h3>
        <p>Copyright @ 2019 Shin Aono</p>
    </div>
    <div class="footer-btn">
        <ul>
            <li><%= link_to "よくある質問", "/questions" %></li>
            <li><%= link_to "お問い合わせ", "/inquiries/new" %></li>
            <% if user_signed_in? %>
            <li><%= link_to "退会手続き", "/users/destroy" %></li>
              <!--<li>< link_to "退会手続き", "/users/#{current_user.id}", method: "delete" %></li>-->
            <% end %>
        </ul>
    </div>
</div>